__pycache__/
__pypackages__/
.cache
.cicd/
.coverage
.coverage.*
.dmypy.json
.DS_Store
.dynamodb/
.eggs/
.env
.env.production
.env.test
.envrc
.eslintcache
.fusebox/
.grunt
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.out/
.parcel-cache
.pnp.*
.pnpm-debug.log*
.pybuilder/
.pyre/
.pytest_cache
.pytest_cache/
.Python
.pytype/
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.scrapy
.serverless/
.spyderproject
.spyproject
.stylelintcache
.svelte-kit
.tern-port
.tox/
.venv
.venv_delete/
.venv/
.vscode
.vscode-test
.vuepress/dist
.webassets-cache
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.cover
*.egg
*.egg-info/
*.lcov
*.log
*.log.*
*.manifest
*.mo
*.mp4
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.seed
*.so
*.spec
*.sql
*.tgz
*.tsbuildinfo
*$py.class
*db.sqlite3
/server/
/site
assets/
bower_components
build/
build/Release
celerybeat-schedule
celerybeat.pid
ci
cover/
coverage
coverage.xml
cypress/screenshots
cypress/videos
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
front_end/node_modules
front_end/resources/js/test*
get-poetry.py
htmlcov/
instance/
ipython_config.py
jspm_packages/
keylime_secrets
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
local/
logfile
logs
MANIFEST
node_modules
node_modules/
nosetests.xml
npm-debug.log*
out
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
Pipfile
private_staging.env
private.env
profile_default/
rafael_backend/server/static/
rafael_backend/web/static/bundles
rafael.egg-info/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
server/htmlcov/
share/python-wheels/
staticfiles/
target/
test-results/
trust_apple_corp_root_cas.sh
var/
venv.bak/
venv/
web_modules/
webpack-stats.json
wheels/
yarn-debug.log*
yarn-error.log*
