{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
  <title>Keylime Pie Dashboard</title>
  
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

</head>

<body style="background-color:#000000;">

<h1 style="text-align: center;"><span style="color: #ffffff;">Keylime Pie</span><br /><span style="color: #ffffff;">Location QA Automation Framework</span></h1>
<p style="text-align: center;"><span style="color: #ffffff;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/static/webpack_bundles/imgs/logo.png" alt="" /></span></p>
<p style="text-align: center;"><span style="color: #ffffff;">Keylime is&nbsp;delicious indeed, yet it is not for everyone.&nbsp;</span></p>
<p style="text-align: center;"><span style="color: #ffffff;">If you would like a piece please reach out to:</span></p>
<p style="text-align: center;"><span style="color: #ffffff;"><a style="color: #ffffff;" href="mailto:locqe-keylime-admin@group.apple.com?subject=Keylime Access&nbsp;Request">locqe-keylime-admin</a></span></p>

</body>

</html>