<!DOCTYPE html>
<html>

<head>
  <title>Keylime Pie Dashboard</title>
  <script type="text/javascript">
    const userInfo = {
  "first_name": "Joseph",
  "last_name": "Vedadi",
  "is_keylime_admin": true,
  "email": "jvedadi@apple.com",
  "rafaeltoken": "Z0FBQUFBQmc5eFVRVVlWVDB1QTdJTkdCZXdXSUZZTXhhN0pCV1haNG93aS1Beno1ZWJiX1Z1UDdpS0FncGZVU2ZLUG1ldU40bkthbkJOLWNFSkFpWkNITFJ3b0F6UGxlWUowbGlrd3FWN2NVZjdIbU1aTTdvOWc9",
  "admin_rafaeltoken": "Z0FBQUFBQmc5eFVRVDQzY3RzOXA1RHc3QzRZby1aUjY3R1lxX3B1eU9xTW5ZVEJscHpvMHA5RUdHVERBajNBV0hlczBUdlliZThnLVNjcndET2Z3ZHgtcXA4aFJSVTJFNU9ESXl6bGVoZWNJc3pmMm5MVThGR1E9",
  "temporary_admin_rafaeltoken": "Z0FBQUFBQmc5eFVRLWJmWXFUc1FmY010YThJV2ktUFlDajZqT01uN3d4NDZDbDVVem1aM0U0dVBiZjNhU1gxNXdDTDhHaUplbU5OMzRaVVNQNmduZWlNbktsLW5lZngyNEpoVjZOVXhVOWtMVmNXbnNHSnpmd0NjelctbW1HOU1wT2R6QnNMNlRHQm0=",
  "admins_of": [],
  "maintainers_of": []
}
    const klpBackEndVersion = "LOCAL"

  </script>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" src="/static/webpack_bundles/index.css" />
</head>

<body>

  <div id="body_container"></div>
  <script type="text/javascript"  src="/static/webpack_bundles/index.bundle.js"/>
</body>

</html>